# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

bin
obj
*.depend
*.layout
archivo_matriz.dat
bin/Debug/stdout.txt
archivo_matriz.dat
Proyecto_SDL.layout
codigo_generado/codigo_generado.ino
imagen.bmp
